
.MuiFormLabel-root-526.MuiFormLabel-focused-527 {
    color: orangered !important;
}


.gpxfile-container {
    position: relative;
    cursor: pointer;
    text-align: left;
    height: fit-content;
    width: fit-content;
}

.gpxfile-container input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.marginTop {
    margin-top: 20vh;
}

.crossline {
    border-top: 1px solid#eee;
}

