.MuiFormLabel-root-526.MuiFormLabel-focused-527 {
    color: orangered !important;
}


.gpxfile-container {
    position: relative;
    cursor: pointer;
    text-align: left;
    height: fit-content;
    width: fit-content;
    width: 100%;
}

.gpxfile-container input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.marginTop {
    margin-top: 20vh !important;
}

.crossline {
    border-top: 1px solid#eee;
}

.margin-auto {
    margin: auto !important;
}

.p1 {
    padding: 0 7px !important;
}

.no-padding {
    padding: 0 !important;
}

.rdt {
    height: 500px;
    input {
        display: none!important;
    }
    .rdtPicker {
        visibility: visible !important;
        opacity: 1 !important;
        display: block !important;
        margin-top: -64px !important;
        width: 706px !important;
        box-shadow: none!important;
        th.rdtPrev,
        th.rdtNext,
        .dow,
        th.rdtSwitch,
        .rdtBtn {
            color: orangered !important;
            font-size: 20px !important;
        }

        .rdtDay {
            border-radius: 10px !important;
            font-size: 20px !important;
        }

        .rdtDay.rdtToday.rdtActive {
            background: orangered !important;
            border-radius: 10px !important;
        }

        .rdtCount {
            font-size: 20px !important;
        }

        .rdtCounters .rdtCounter:last-child .rdtCount {
            border: 1px solid orangered !important;
            color: orangered !important;
            font-size: 15px !important;
        }

        .rdtTimeToggle {
            display: none !important;
        }
    }


}