.MuiFormLabel-root-526.MuiFormLabel-focused-527 {
    color: orangered !important;
}


.gpxfile-container {
    position: relative;
    cursor: pointer;
    text-align: left;
    height: fit-content;
    width: fit-content;
    width: 100%;
}

.gpxfile-container input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.marginTop {
    margin-top: 20vh !important;
}

.crossline {
    border-top: 1px solid#eee;
}

.margin-auto {
    margin: auto !important;
}

.p1 {
    padding: 0 7px !important;
}

.no-padding {
    padding: 0 !important;
}

.rdtPicker {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    margin-top: 0!important;

}

.rdtTime,
.rdtDays {

    // th.rdtSwitch,
    .rdtTimeToggle {
        display: none !important;
    }
}