.ui.inverted.menu {
    background-color:orangered !important;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.hiden_button{
    display: none !important
}

.visible_button{
    display: block !important
}