.PostBox {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ui.button.PostBox-right-button {
    position: absolute;
    float: right;
    margin: 0px;
}

.PostBox-page-num {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-input {
    text-align: center
}